<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012272777294-2jejhvmmerr4km2bogp8r62rddj56fe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012272777294-2jejhvmmerr4km2bogp8r62rddj56fe1</string>
	<key>API_KEY</key>
	<string>AIzaSyCnGFZk8KUevtkMSKKJtSHqpvOnb0nH6YE</string>
	<key>GCM_SENDER_ID</key>
	<string>1012272777294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.App</string>
	<key>PROJECT_ID</key>
	<string>my-app-a4b6c</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-a4b6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012272777294:ios:9ab96b9311afab80a35b1f</string>
</dict>
</plist>